html {
    background-color: blue;
    display: flex;
    justify-content: center;
}

body{
    background-color: blueviolet;
    width: 75%;
    display: flex;
    justify-content: center;
}

main {
    background-color: aqua;
    width: 60%;
}

div {
    display: flex;
    justify-content: center;
    
}
.peñarol {
    width: 400px;
}